$total-columns:12;

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$super-light-gray:#f8f9fa;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;


$font-size: 0.8em;
$primary-font:'BYUI Open Sans';
